.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $color-primario !important;
}

.btn__vc{
    text-align: center;
    margin-bottom: 20px;
    float: left;
}
.btn__pv{
    text-align: center;
    margin-bottom: 20px;
    float: left;
}