*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,3fr));
    padding: 20px;
    grid-gap: 60px;
}
.card{
    background-color: #ffffff;
    border-radius: 20px;
}
.container{
    position: relative;
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.aportes__cards{
    list-style: none;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo__vc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 200px;
    height: auto;
}
