.navbar {
    background-color: $color-primario-transparencia;
    min-height: 100px; 
    font-size: x-large;
}

.logo-brand {
    width: 250px !important;
    height: auto;
}

.navbarr {
    background-color: $color-primario-transparencia;
    min-height: 100px; 
    font-size: x-large;
}