.navbar {
    background-color: rgba(0, 0, 0, 0.411);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.301);
    min-height: 100px; 
    font-size: x-large;
}

.logo-brand {
    width: 250px !important;
    height: auto;
}